<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="%launchMode.label"
            mode="ecobertura.core.coverageLaunchMode">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="ecobertura.core.launching.JavaApplicationLaunchDelegate"
            delegateDescription="The Cobertura Java Launcher instruments code in order to measure coverage."
            id="ecobertura.core.javaApplicationLauncher"
            modes="ecobertura.core.coverageLaunchMode"
            name="%javaLaunchDelegate.name"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="ecobertura.core.launching.InstrumentedClasspathProvider"
            id="ecobertura.core.launching.instrumentedClasspathProvider">
      </classpathProvider>
   </extension>

</plugin>
