<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="Coverage"
            mode="ecobertura.core.coverageLaunchMode">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="ecobertura.core.launching.JavaApplicationLaunchDelegate"
            delegateDescription="The Cobertura Java Launcher instruments code in order to measure coverage."
            id="ecobertura.core.javaApplicationLauncher"
            modes="ecobertura.core.coverageLaunchMode"
            name="Java Launch Delegate"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
      <launchDelegate
            delegate="ecobertura.core.launching.JavaApplicationLaunchDelegate"
            delegateDescription="The Cobertura JUnit Launcher instruments code in order to measure coverage."
            id="ecobertura.core.junitLauncher"
            modes="ecobertura.core.coverageLaunchMode"
            name="JUnit Launch Delegate"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchDelegate>
      <launchDelegate
            delegate="ecobertura.core.launching.JavaApplicationLaunchDelegate"
            delegateDescription="The Cobertura TestNG Launcher instruments code in order to measure coverage."
            id="ecobertura.core.testngLauncher"
            modes="ecobertura.core.coverageLaunchMode"
            name="TestNG Launch Delegate"
            type="org.testng.eclipse.launchconfig">
      </launchDelegate>
      <launchDelegate
            delegate="ecobertura.core.launching.JavaApplicationLaunchDelegate"
            delegateDescription="The Cobertura Scala Launcher instruments code in order to measure coverage."
            id="ecobertura.core.scalaApplicationLauncher"
            modes="ecobertura.core.coverageLaunchMode"
            name="Scala Launch Delegate"
            type="scala.application">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="ecobertura.core.launching.CoverageClasspathProvider"
            id="ecobertura.core.launching.coverageClasspathProvider">
      </classpathProvider>
   </extension>

</plugin>
