<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Cobertura"
            id="ecobertura.ui">
      </category>
      <view
            name="Coverage Session View"
            icon="icons/magnifier.gif"
            category="ecobertura.ui"
            class="ecobertura.ui.views.session.CoverageSessionView"
            id="ecobertura.ui.views.session.CoverageSessionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="ecobertura.ui.views.session.CoverageSessionView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="ecobertura.ui.annotation.coverageAnnotation.covered"
            colorPreferenceKey="covered_line_color"
            colorPreferenceValue="221,255,221"
            contributesToHeader="false"
            highlightPreferenceKey="covered_line_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="covered_line_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="covered_line_isGoToPreviousNavigationTargetKey"
            label="Covered line"
            overviewRulerPreferenceKey="covered_line_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="covered_line_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="covered_line_text"
            textPreferenceValue="true"
            textStylePreferenceKey="covered_line_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="covered_line_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="ecobertura.ui.annotation.coverageAnnotation.notCovered"
            colorPreferenceKey="line_not_covered_color"
            colorPreferenceValue="255,221,221"
            contributesToHeader="false"
            highlightPreferenceKey="line_not_covered_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="line_not_covered_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="line_not_covered_isGoToPreviousNavigationTargetKey"
            label="Line not covered"
            overviewRulerPreferenceKey="line_not_covered_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="line_not_covered_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="line_not_covered_text"
            textPreferenceValue="true"
            textStylePreferenceKey="line_not_covered_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="line_not_covered_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/full/wizban/run_coverage.png"
            id="ecobertura.ui.coverageLaunchGroup"
            image="icons/full/etool16/run_coverage.gif"
            label="Coverage"
            mode="ecobertura.core.coverageLaunchMode"
            title="Select or configure an application for coverage">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ecobertura.ui.actionSet"
            label="Coverage LaunchGroup Action Set"
            visible="true">
         <action
               class="ecobertura.ui.actions.CoverageLaunchToolbarAction"
               disabledIcon="icons/full/dtool16/run_coverage.gif"
               hoverIcon="icons/full/etool16/run_coverage.gif"
               icon="icons/full/etool16/run_coverage.gif"
               id="ecobertura.ui.actions.LaunchAction"
               label="Coverage Action"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
               tooltip="Cover (Cobertura)">
         </action>
         <menu
               id="org.eclipse.ui.run"
               label="&amp;Run"
               path="additions">
            <separator
                  name="coverageLaunchGroup">
            </separator>
         </menu>
         <action
               class="ecobertura.ui.actions.CoverAsAction"
               id="ecobertura.ui.actions.CoverAsAction"
               label="Cover As"
               menubarPath="org.eclipse.ui.run/coverageLaunchGroup"
               style="pulldown">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="ecobertura.ui.launching.JavaApplicationLaunchShortcut:org.eclipse.jdt.debug.ui.localJavaShortcut"
            icon="icons/full/etool16/java_launch.gif"
            id="ecobertura.ui.launching.javaApplicationLaunchShortcut"
            label="Java Application"
            modes="ecobertura.core.coverageLaunchMode">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.jdt.debug.ui.localJavaShortcut"
                        property="ecobertura.ui.launching.isCoveredLaunchPossible">
                  </test>
               </with></enablement></contextualLaunch>
      </shortcut>
      <shortcut
            class="ecobertura.ui.launching.JavaApplicationLaunchShortcut:org.eclipse.shortcut.scala"
            icon="icons/full/etool16/scala_launch.gif"
            id="ecobertura.ui.launching.scalaApplicationLaunchShortcut"
            label="Scala Application"
            modes="ecobertura.core.coverageLaunchMode">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.shortcut.scala"
                        property="ecobertura.ui.launching.isCoveredLaunchPossible">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="ecobertura.ui.launching.JavaApplicationLaunchShortcut:org.eclipse.jdt.junit.junitShortcut"
            icon="icons/full/etool16/junit_launch.gif"
            id="ecobertura.ui.launching.junitLaunchShortcut"
            label="JUnit Test"
            modes="ecobertura.core.coverageLaunchMode">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.jdt.junit.junitShortcut"
                        property="ecobertura.ui.launching.isCoveredLaunchPossible">
                  </test>
               </with></enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="ecobertura.ui.launching.JavaApplicationLaunchShortcut:org.testng.eclipse.shortcut"
            icon="icons/full/etool16/testng_launch.gif"
            id="ecobertura.ui.launching.testngLaunchShortcut"
            label="TestNG Test"
            modes="ecobertura.core.coverageLaunchMode">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.testng.eclipse.shortcut"
                        property="ecobertura.ui.launching.isCoveredLaunchPossible">
                  </test>
               </with></enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="ecobertura.ui.launching.JavaApplicationLaunchShortcut:org.eclipse.pde.ui.junitWorkbenchShortcut"
            icon="icons/full/etool16/junitplugin_launch.gif"
            id="ecobertura.ui.launching.junitPdeLaunchShortcut"
            label="JUnit PDE Test"
            modes="ecobertura.core.coverageLaunchMode">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.pde.ui.junitWorkbenchShortcut"
                        property="ecobertura.ui.launching.isCoveredLaunchPossible">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="ecobertura.ui.launching.JavaApplicationLaunchShortcut:org.eclipse.pde.ui.runtimeWorkbenchShortcut"
            icon="icons/full/etool16/eclipse_launch.gif"
            id="ecobertura.ui.launching.javaApplicationLaunchShortcut"
            label="Eclipse Application"
            modes="ecobertura.core.coverageLaunchMode">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.pde.ui.runtimeWorkbenchShortcut"
                        property="ecobertura.ui.launching.isCoveredLaunchPossible">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ecobertura.ui.launching.config.CoverageConfigurationTabGroup"
            id="ecobertura.ui.launching.config.JavaApplicationConfigurationTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="ecobertura.ui.launching.config.CoverageConfigurationTabGroup"
            id="ecobertura.ui.launching.config.JUnitConfigurationTabGroup"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="ecobertura.ui.launching.config.CoverageConfigurationTabGroup"
            id="ecobertura.ui.launching.config.TestNGConfigurationTabGroup"
            type="org.testng.eclipse.launchconfig">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="ecobertura.ui.launching.config.CoverageConfigurationTabGroup"
            id="ecobertura.ui.launching.config.ScalaApplicationConfigurationTabGroup"
            type="scala.application">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="ecobertura.ui.launching.config.CoverageConfigurationTabGroup"
            id="ecobertura.ui.launching.config.JUnitPdeConfigurationTabGroup"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="ecobertura.ui.launching.config.CoverageConfigurationTabGroup"
            id="ecobertura.ui.launching.config.EclipseApplicationConfigurationTabGroup"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            id="ecobertura.ui.launching.javaApplicationLaunchCommand"
            name="Cover Java Application">
      </command>
      <category
            description="Coverage Session View Commands"
            id="ecobertura.ui.views.session.commands.category"
            name="Coverage Session View">
      </category>
      <command
            categoryId="ecobertura.ui.views.session.commands.category"
            defaultHandler="ecobertura.ui.views.session.commands.OpenCoverageSessionHandler"
            description="Open a coverage session within the view"
            id="ecobertura.ui.views.session.commands.openCoverageSession"
            name="Open Coverage Session">
      </command>
      <command
            categoryId="ecobertura.ui.views.session.commands.category"
            defaultHandler="ecobertura.ui.views.session.commands.OpenCoveredClassHandler"
            description="Open a covered class from a coverage session"
            id="ecobertura.ui.views.session.commands.openCoveredClass"
            name="Open Covered Class">
      </command>
      <command
            categoryId="ecobertura.ui.views.session.commands.category"
            defaultHandler="ecobertura.ui.views.session.commands.SelectRecentCoverageSessionHandler"
            description="Selects one of the recently opened coverage sessions"
            id="ecobertura.ui.views.session.commands.selectRecentCoverageSession"
            name="Select a recent coverage session">
         <commandParameter
               id="ecobertura.ui.views.session.commands.selectRecentCoverageSession.session"
               name="session"
               optional="true">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:undefined"
               id="org.eclipse.ui.commands.radioState">
         </state>
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ecobertura.ui.objectPopup"
            objectClass="java.lang.Object">
         <visibility>
            <and>
               <objectClass
                     name="java.lang.Object">
               </objectClass>
               <not>
                  <objectClass
                        name="ecobertura.ui.views.session.CoverageSessionTreeNode">
                  </objectClass>
               </not>
            </and>
         </visibility>
         <action
               class="ecobertura.ui.actions.CoverAsContextualLaunchAction"
               enablesFor="+"
               id="ecobertura.ui.objectPopup.CoverAsAction"
               label="Cover As"
               menubarPath="additions"
               style="pulldown">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:ecobertura.ui.views.session.CoverageSessionView?after=additions">
         <command
               commandId="ecobertura.ui.views.session.commands.openCoverageSession"
               icon="icons/fldr_obj.gif"
               label="Open..."
               mnemonic="O"
               style="push"
               tooltip="Opens a coverage session &quot;cobertura.ser&quot;.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ecobertura.ui.views.session.CoverageSessionView?after=additions">
         <command
               commandId="ecobertura.ui.views.session.commands.openCoverageSession"
               icon="icons/fldr_obj.gif"
               label="Open Coverage Session..."
               mnemonic="O"
               style="push"
               tooltip="Opens a coverage session &quot;cobertura.ser&quot;.">
         </command>
         <menu
               label="Recent Sessions..."
               mnemonic="R"
               tooltip="Select one of the recent coverage sessions.">
            <dynamic
                  class="ecobertura.ui.views.session.commands.SessionHistoryContributionItem"
                  id="ecobertura.ui.dynamic.SessionHistory">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ecoburtura.ui.views.session.popup?after=additions">
         <command
               commandId="ecobertura.ui.views.session.commands.openCoveredClass"
               label="Jump to..."
               mnemonic="J"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="ecobertura.ui.views.session.CoverageSessionClass">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="ecobertura.ui.annotation.coverageAnnotation.covered">
      </type>
      <type
            name="ecobertura.ui.annotation.coverageAnnotation.notCovered">
      </type>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ecobertura.ui.launching.IsCoveredLaunchAvailableForCurrentSelectionTester"
            id="ecobertura.ui.launching.coveredLaunchPossibleTester"
            namespace="ecobertura.ui.launching"
            properties="isCoveredLaunchPossible"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ecobertura.ui.preferences.PreferencePage"
            id="ecobertura.ui.preferences.PreferencePage"
            name="ECobertura Preferences">
      </page>
   </extension>

</plugin>
